section.icerik {
    width: auto;
    position: static;
    margin: 50px auto;
}

section.icerik h1,
h2,
h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section.icerik h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

section.icerik h3 {
    margin-top: 0px;
}

section.icerik p {
    margin: 5%;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
}

section.icerik div.yonetici-box {
    width: auto;
    height: auto;
    position: static;
    margin: 50px auto;
}

section.icerik div.yonetici-box>img {
    border-bottom: 2px solid #000;
}

#sides {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "left right";
    margin-left: 20%;
    margin-right: 20%;
}

#left {
    grid-area: left;
    /* border: 2px solid red; */
}

#right {
    grid-area: right;
    /* border: 2px solid blue; */
}


/* 900 pikselden az olursa */

@media(max-width:1100px) {
    #sides {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left" "right";
    }
}