/* slider start */

.slider-previous,
.slider-next {
    width: 50px;
    height: 50px;
    padding-top: 80%;
    transition: transform 0.2s ease-in-out;
}

.inputButton:hover {
    transform: scale(1.5);
}

.slider-container {
    margin-top: 5%;
    margin-left: 3%;
    text-align: center;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.slider-container img {
    width: auto;
    height: 500px;
}

.inputButton {
    padding: 30%;
    align-items: center;
    text-align: center;
}


/* slider end */