
/* slider start */

.slider-previous,
        .slider-next {
            width: 50px;
            height: 50px;
            padding-top: 80%;
        }

        
/* slider end */

/* slider-container start*/
.slider-container {
    width: 900px;
    display: grid;
    grid-template-columns: 150px 500px 150px;
    grid-template-rows: 150px, 150px;
}

@media (min-width: 500px) {
    .slider-container {
        grid-template-columns: 150px 300px 150px;
        grid-template-rows: 150px, 150px;
    }

}

@media (min-width: 800px) {
    .slider-container {
        grid-template-columns: 150px 500px 150px;
        grid-template-rows: 150px, 150px;
    }
}
/* slider-container end */

/* header and footer start */
header {
    border-width: 1px; 
    border: 3px outset; 
    border-color: red; 
    height: 100px; 
    width: auto;
    background-color: #003366;
    border-radius: 20px;
}

#menu  {
    padding: 0px;
    margin: 0px;
    /* background-color: tomato; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu ul {
    display: block;
    /* background-color: #303030; */
    height: 9vh;
}

#menu ul li {
    display: inline-block;
    top: 20px;
    left: 30%;
    position: relative;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

#menu ul li a:hover {
    color:rgb(26, 171, 207);
}

.dropdown-menu {
    background-color: #003366;
    position: absolute;
    padding: 15px 0px 10px 0px;
    margin-left: -20px;
    display: none;
}

.dropdown-menu a {
    position: relative;
    display: block;
    padding: 8px 16px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}


footer {
    text-align: center;
    padding: 3px;
    border-width: 1px; 
    border: 3px outset; 
    border-color: red; 
    width: auto;
    height: 250px; 
    background-color: #003366;
    border-radius: 20px;
}
footer > * {
    color: white;
}

footer a {
    margin-left: 10px;
}

/* header and footer end */