#mission_vision {
    width: auto;
    margin: 120px auto;
    text-align: center;
    align-items: center;
}

#mission_vision p {
    font-weight: 500;
    font-size: 19px;
    padding-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

#mission_vision article {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:900px) {
    #mission_vision article {
        flex-direction: column;
    }
}