section {
    margin: 110px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: static;
}


.altSatir {
    flex-basis: 100%;
    height: 0%;
}


/* IMAGE OVERLAY TEXT EKLEME -- START */

.image {
    position: relative;
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.image__img {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease-in 0.3s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover .image {
    z-index: 1;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    cursor: default;
}

.image_description {
    font-size: 1.25em;
    margin-top: 0.25em;
    cursor: default;
}

.image_description a {
    text-decoration: none;
    color: #fff;
    transition: all ease-in .4s;
}

.image_description a:hover {
    color: #0CB4E3;
}


/* IMAGE OVERLAY TEXT EKLEME -- END */

/* urun detay start */

.container {
    margin-left: 10%;
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "cover content";
}

.cover {
    grid-area: cover;
    height: 80vh;
    background-size: auto 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.content {
    grid-area: content;
    background: #efefef;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    /* bunlar lazım */
    margin: 110px auto;
    flex-wrap: wrap;
    position: static;
}

.detail-body {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.black-label {
    text-align: center;
    width: 80%;
}

.black-label p {
    margin-top: 30px;
    margin-left: 10%;
    font-size: 13px;
    color: gray;
    width: 70%;
    text-align: justify;
}

.title {
    text-align: center;
    font-size: 64px;
}


/* urun detay end */