/* header start */

header {
    /* border: 1px outset #003366; */
    /* border-color: red;  */
    height: auto;
    width: auto;
    background-color: #1b60b5;
    padding: 1px;
    border-bottom: 3px solid white;
}

#menu {
    padding: 0px;
    margin: 0px;
    text-align: center;
    /* background-color: tomato; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu ul {
    display: block;
    /* background-color: #303030; */
    height: 9vh;
}

#menu ul li {
    display: inline-block;
    top: 20px;
    position: relative;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

#menu ul li a:hover {
    color: rgb(26, 171, 207);
}

.dropdown-menu {
    background-color: #1b60b5;
    position: absolute;
    padding: 15px 0px 10px 0px;
    margin-left: -20px;
    display: none;
}

.dropdown-menu a {
    position: relative;
    display: block;
    padding: 8px 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* header end */


/* Footer start */

footer {
    text-align: center;
    padding: 10px;
    border-top: 3px solid white;
    /* border-width: 1px; 
    border: 3px outset; 
    border-color: red;  */
    width: auto;
    height: auto;
    background-color: #1b60b5;
}

footer>* {
    color: white;
}

footer a {
    margin-left: 10px;
}


/* footer end */

.body {
    /* border : 1px outset; */
    border-color: blue;
    /* background-color: burlywood; */
    height: auto;
    width: auto;
    margin: 50px 0px 50px 0px;
    border-radius: 20px;
}

body {
    margin: 0px;
    background: #9bc5de;
}

html {
    scroll-behavior: smooth;
}